.finishtaskButton{
  
    width: 129px; /* Tamanho fixo da largura */
    height: 40px; /* Tamanho fixo da altura */
    border: none;
    border-radius: 2px; /* Bordas arredondadas */
    display: flex; /* Alinha conteúdo interno em flexbox */
    align-items: center; /* Alinha verticalmente no centro */
    justify-content: center; /* (Opcional) Adicionado para centralizar horizontalmente o conteúdo */
    padding: 4px 16px; /* Simplificado o uso de padding */
    cursor: pointer; /* Mostra o ícone de "clique" ao passar o mouse */
    gap: 8px; /* Espaçamento entre elementos filhos */
    background-color: transparent; /* Cor de fundo inicial */
    transition: background-color 0.3s ease-out; /* Transição suave para hover */
  }

  .clicked {
    background-color: #343333; /* Cor após clique */
}